<div id="upper-corner-console">

  <% if current_user.is_administrator? %>
    <%= link_to "Admin Console", admin_path %><br/>
  <% end %>

  <% if !Rails.env.production? && false %>
    Current user: <%= current_user.username %><br/>
    <%= link_to "Dev Toolbox", dev_toolbox_path, :remote => true %>
    <div id="dev_toolbox_dialog" style="display:none" title="Dev Toolbox"></div>
    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $("#dev_toolbox_dialog").dialog({ 
            autoOpen: false, 
            modal: true, 
            height:500, 
            width:700
        });
      <% end %>
    <% end %>
  <% end %>

  <% clock_is_normally_enabled = @clock_enabled && signed_in? %>
  <% clock_is_enabled = clock_is_normally_enabled || !Rails.env.production? %>

  <% if clock_is_enabled %>
    <span id="clock" class="<%= 'highlight' if !clock_is_normally_enabled %>">
      <% time = Time.zone.now %>
      <%= standard_time(time) %><br/>(on last refresh)
    </span>
  <% end %>

</div>
