<%# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% top_nav_dashboard_active %>

<%= section_block do |sb| %>
  <% sb.heading = "Section Heading 1" %>
  <% sb.section_id_add "specific-section-id" %>
  <% sb.section_class_add "important" %>

  <p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
  <p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>

  <%= section_block do |ssb| %>
    <% ssb.nesting = 2 %>
    <% ssb.heading = "Section Heading 1.1" %>
    <p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
    <p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
  <% end %>

  <%= section_block do |ssb| %>
    <% ssb.nesting = 2 %>
    <% ssb.heading = "Section Heading 1.2" %>
    <p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
    <p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
  <% end %>

  <p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
<% end %>

<%= section_block do |sb| %>
  <% sb.heading = "Section Heading 2" %>
  <% sb.section_class_add "not-important" %>

  <p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
  <p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
  <p><%= Faker::Lorem.paragraph(1+rand(10)) %></p>
  <p><%= Faker::Lorem.paragraph(1+rand(20)) %></p>
<% end %>
