<div id="application-footer">

  <div id="footer-rice-logo">
    <%= link_to "http://www.rice.edu" do %>
      <%= image_tag 'rice_logo_4.png', id: "footer-rice-logo-image" %>
    <% end %>
  </div>

  <div id="footer-copyright">
    <%= copyright_text %> |
    <%= link_to "Terms of Use", "#" %> |
    <%= link_to "Contact Us",   "#" %>
    <br/>

    Supported by
    the <%= link_to "National Science Foundation", "http://www.nsf.org" %>,
    <%= link_to "Google", "http://www.google.org" %>,
    <%= link_to "Duke University", "http://www.duke.edu" %>, and
    <%= link_to "Rice University", "http://www.rice.edu" %>
    <br/>
  </div>

</div>
