<% account_bar_classes = yield :account_bar_class %>

<div id="application-account-bar" class="<%= account_bar_classes %>" >

  <div id="account-bar-content">
    <% if true %>
      <%= link_to "Join now", "#", :class => "#{account_bar_classes}" %> 
      <%= vertical_bar(:id => "account-bar-vertical-bar", :class => "#{account_bar_classes}") %>
      <%= link_to "Sign in", "#", :class => "#{account_bar_classes}" %>
    <% end %>

    <%= link_to "http://www.facebook.com/openstaxtutor", :id => "facebook-link" do %>
      <%= image_tag("fb_round_#{icon_color}.png", :class => "facebook-icon") %>
    <% end %>
    <%= link_to "http://www.twitter.com/openstaxtutor", :id => "twitter-link" do %>
      <%= image_tag("twitter_round_#{icon_color}.png", :class => "twitter-icon") %>
    <% end %>
  </div>

</div>